@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.italic {
  font-style: italic;
}

.right-align {
  text-align: right;
}

.navigation {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav-logo {
  content: url("../../images/logo-small-onestopshop.svg");
  height: 100px;
}

.navigation .main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .main-navigation ul li {
  list-style-type: none;
  margin: 0px 1rem;
}

.navigation .main-navigation ul li a {
  color: #91bed4;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "filicudi-solid", sans-serif;
  font-weight: bold;
}

.navigation .main-navigation ul li a:hover {
  color: #304269;
}

.nav-link {
  color: #91bed4;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "filicudi-solid", sans-serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .navigation {
    height: 20vh;
  }
  .navigation .nav-logo {
    content: url("../../images/logo-onestopshop.svg");
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.italic {
  font-style: italic;
}

.right-align {
  text-align: right;
}

.row1-problemen, .row2-problemen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row1-doelgroep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row2-doelgroep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.persona-text ul, .persona-text2 ul {
  list-style: none;
  margin-left: -2rem;
}

.persona-text ul li, .persona-text2 ul li {
  margin: 10px 0;
}

.persona-text ul li i, .persona-text2 ul li i {
  text-align: center;
  margin-right: 1rem;
  width: 20px;
  color: #bddbf2;
}

.persona-text ul .coloured, .persona-text2 ul .coloured {
  color: #bddbf2;
}

.persona-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.persona-text2 ul {
  text-align: right;
}

.persona-text2 ul li i {
  margin-right: 0;
  margin-left: 1rem;
}

.row1-business, .row2-business {
  min-height: 25vh;
}

.row1-business div, .row2-business div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.row1-business div h3, .row2-business div h3 {
  color: #ffffff;
  padding: 4px 8px;
  background-color: #ffba8d;
}

.row2-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .row1-problemen {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row2-problemen {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .row1-doelgroep {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row2-doelgroep {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .row1-business, .row2-business {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row1-business div, .row2-business div {
    text-align: left;
  }
  .row2-business {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row2-business div {
    text-align: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.italic {
  font-style: italic;
}

.right-align {
  text-align: right;
}

#problemen, #doelgroep {
  min-height: 100vh;
}

#problemen .row, #doelgroep .row {
  margin: 2rem 0;
  width: 100%;
}

#problemen .row h2, #doelgroep .row h2 {
  margin-bottom: 2rem;
}

#problemen .row h3, #doelgroep .row h3 {
  margin-bottom: 1rem;
}

#problemen .row span, #doelgroep .row span {
  color: #bddbf2;
  font-size: 1.25rem;
  text-align: center;
}

#welkom {
  position: relative;
}

@media screen and (min-width: 992px) {
  #welkom {
    min-height: 80vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.italic {
  font-style: italic;
}

.right-align {
  text-align: right;
}

.welkom-colourbox {
  position: absolute;
  right: 0;
  width: 55%;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .welkom-colourbox {
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .welkom-colourbox {
    top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.italic {
  font-style: italic;
}

.right-align {
  text-align: right;
}

.welkom-images {
  width: 20vh;
}

.welkom-images img {
  width: 100%;
}

.problems-images, .persona-images {
  width: 30vh;
  margin-bottom: 1rem;
}

.problems-images img, .persona-images img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.graph-images {
  width: 55vh;
}

.graph-images img {
  width: 100%;
  margin-bottom: 1rem;
}

.persona-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30vh;
}

.businessmodel-images {
  width: 100%;
}

.businessmodel-images img {
  width: 100%;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 50vh;
  position: relative;
  margin: auto;
  /* Number text (1/3 etc) */
}

.slideshow-container img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideshow-container .number-box {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #304269;
}

.slideshow-container .number-box .numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bddbf2;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #304269;
}

/* Fading animation */
/* On smaller screens, decrease text size */
@media only screen and (max-width: 576px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (min-width: 992px) {
  .welkom-images {
    width: 25vh;
  }
  .persona-images {
    width: 40vh;
  }
}
/*# sourceMappingURL=index.css.map */