@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://use.typekit.net/ugo0azz.css");
h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.right-align {
  text-align: right;
}

.navigation {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.navigation .nav-logo {
  content: url("../../images/logo-small-onestopshop.svg");
  height: 100px;
}

.navigation .main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .main-navigation ul li {
  list-style-type: none;
  margin: 0px 1rem;
}

.navigation .main-navigation ul li a {
  color: #91bed4;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "filicudi-solid", sans-serif;
  font-weight: bold;
}

.navigation .main-navigation ul li a:hover {
  color: #304269;
}

.nav-link {
  color: #91bed4;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "filicudi-solid", sans-serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .navigation {
    height: 20vh;
  }
  .navigation .nav-logo {
    content: url("../../images/logo-onestopshop.svg");
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.right-align {
  text-align: right;
}

.persona-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.persona-text ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .persona-second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.right-align {
  text-align: right;
}

#problemen, #prototype {
  min-height: 100vh;
}

#problemen h2, #prototype h2 {
  margin-bottom: 2rem;
}

#problemen .row, #prototype .row {
  margin: 2rem 0;
}

#problemen .row span, #prototype .row span {
  color: #f58c42;
  font-weight: bold;
}

#welkom {
  min-height: 70vh;
  position: relative;
}

@media screen and (min-width: 992px) {
  #welkom {
    min-height: 80vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.right-align {
  text-align: right;
}

.welkom-colourbox {
  position: absolute;
  right: 0;
  width: 55%;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .welkom-colourbox {
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .welkom-colourbox {
    top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filicudi-solid", sans-serif;
}

h1 {
  color: #304269;
}

h2 {
  color: #91bed4;
}

h3, h4, h5, h6 {
  color: #bddbf2;
}

p, span {
  font-family: "Catamaran", sans-serif;
}

.right-align {
  text-align: right;
}

.welkom-images {
  width: 20vh;
}

.welkom-images img {
  width: 100%;
}

.problems-images img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.persona-images {
  height: 400px;
}

.persona-images img {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .welkom-images {
    width: 25vh;
  }
}
/*# sourceMappingURL=index.css.map */