@import '../variables/index';

// WELKOM
.welkom-images{
	width: 20vh;
	img{
		width: 100%;
	}
}

// PROBLEMEN
.problems-images, .persona-images{
	width: 30vh;
	margin-bottom: $gutter;
	img{
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.graph-images{
	width: 55vh;
	img{
		width: 100%;
		margin-bottom: $gutter;
	}
}

// DOELGROEP
.persona-images{
	display: flex;
	align-items: flex-end;
	width: 30vh;
}

@media screen and (min-width: 992px){
	// WELKOM
	.welkom-images{
		width: 25vh;
	}

	// DOELGROEP
	.persona-images{
		width:40vh;
	}
}

