@import '../variables/index';

.welkom-images{
	width: 25vh;
	img{
		width: 100%;
	}
}

.problems-images{
	// width: 55vh;
	img{
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.persona-images{
	height: 400px;
	img{
		height: 100%;
	}
}



