@import '../variables/index';

// PROBLEMEN
.row1-problemen, .row2-problemen{
    display: flex;
    justify-content: center;
}


// DOELGROEP
.persona-second {
	display: flex;
	flex-direction: column-reverse;
}

.persona-text {
	ul{
		list-style: none;
	}
}


@media screen and (min-width: 1200px) {
    // PROBLEMEN
	.row1-problemen{
        justify-content: space-between;
    }
    .row2-problemen{
        justify-content: space-between;
        align-items: center;
    }
} 

@media screen and (min-width: 768px) {
    // DOELGROEP
	.persona-second {
		flex-direction: row;
	}
} 