@import '../variables/index';

#problemen, #prototype{
	min-height: 100vh;

	h2{
		margin-bottom: $gutterdouble;
	}
	.row{
		margin: $gutterdouble 0;

		span{
			color: $color-orangedark;
			font-weight: bold;
		}
	}
}

#welkom{
	min-height: 70vh;
	position: relative;
}

@media screen and (min-width: 992px) {
	#welkom{
		min-height: 80vh;
	}
}