@import '../variables/index';

// PROBLEMEN
.row1-problemen, .row2-problemen{
    display: flex;
    justify-content: center;
}


// DOELGROEP
.row1-doelgroep {
    display: flex;
    justify-content: flex-start;
}


.row2-doelgroep {
    display: flex;
    align-items: flex-end;
    justify-content: center;
	flex-direction: column-reverse;
}

.persona-text, .persona-text2 {
	ul{
        list-style: none;
        margin-left: -2rem;
        li{
           margin: 10px 0;
           
            i{
                text-align: center;
                margin-right: $gutter;
                width: 20px;
                color: $color-bluelight;
            
            }
        }

        .coloured{
            color: $color-bluelight;
        }
	}
}

.persona-text2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul{
        text-align: right;
        li{ 
            i{
                margin-right: 0;
                margin-left: $gutter;
            }
        }
    }
}

// BUSINESS MODEL
.row1-business, .row2-business{
    min-height: 25vh;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        h3{ 
            color: $color-white;
            padding: 4px 8px;
            background-color: $color-orangelight;
        }
    }
}

.row2-business{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

// ETHIEK
.row-ethiek{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    // PROBLEMEN
	.row1-problemen{
        justify-content: space-between;
    }
    .row2-problemen{
        justify-content: space-between;
        align-items: center;
    }
} 

@media screen and (min-width: 992px) {
    // DOELGROEP
    .row1-doelgroep{
        justify-content: space-between;
    }
    .row2-doelgroep{
        justify-content: space-between;
        flex-direction: row;
        
    }
}

@media screen and (min-width: 768px){
    // BUSINESS MODEL
    .row1-business, .row2-business{
        justify-content: space-between;
        div{
            text-align: left;
        }
    }

    .row2-business{
        flex-direction: row;
        div{
            text-align: right;
        }
    }

    .row-ethiek{
        display: flex;
        justify-content: center;
    }
}