@import '../variables/index';

#welkom{
	min-height: 80vh;
	position: relative;
}

#problemen{
	min-height: 100vh;

	h2{
		margin-bottom: $gutterdouble;
	}
	.col{
		margin: $gutter 0;

		span{
			color: $color-orangedark;
			font-weight: bold;
		}
	}
}