@import '../variables/index';

#problemen, #doelgroep{
	min-height: 100vh;

	.row{
		margin: $gutterdouble 0;
		width: 100%;
		h2{
			margin-bottom: $gutterdouble;
		}

		h3{
			margin-bottom: $gutter;
		}
		span{
			color: $color-bluelight;
			font-size: 1.25rem;
			text-align: center;
		}
	}
}

#welkom{
	position: relative;
}

@media screen and (min-width: 992px) {
	#welkom{
		min-height: 80vh;
	}
}