@import '../variables/index';

.welkom-colourbox{
	position: absolute;
	right: 0;
	width: 55%;
	z-index: -1;
}

@media screen and (min-width: 992px) {
	.welkom-colourbox{
		top: 0;
	}
}

@media screen and (min-width: 768px){
	.welkom-colourbox{
		top: 0;
	}
}