@import '../variables/index';

.welkom-colourbox{
	position: absolute;
	right: 0;
	width: 55%;
	// height: 60vh;
	// background-color: $color-orangelight;
	z-index: -1;
}

@media screen and (min-width: 900px) {
	.welkom-colourbox{
		top: 0;
	}
}