@import '../variables/index';
.navigation{
	margin-bottom: $gutterdouble;
	display: flex;
	justify-content: center;
	align-items: center;
	.nav-logo{
		content:url('../../images/logo-small-onestopshop.svg');
		height: 100px;
	}

	.main-navigation{
		ul{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			li{
				list-style-type: none;
				margin: 0px $gutter;
				a{
					color: $color-bluegreen;
					font-size: 1.5rem;
					text-decoration: none;
					font-family: $headers;
					font-weight: bold;
				}
				a:hover{
					color: $color-bluedark;
				}
			}
		}	
	}
	
}
.nav-link{
	color: $color-bluegreen;
	font-size: 1.5rem;
	text-decoration: none;
	font-family: $headers;
	font-weight: bold;
	text-align: center;
}


@media screen and (min-width: 992px) {
	.navigation{
		height: 20vh;

		.nav-logo{
			content:url('../../images/logo-onestopshop.svg');
		}
	}
}

